<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Moviex</title>
    <link href="/style.css" rel="stylesheet">
  </head>
  <body>
    <h1><a href="/">Moviex</a></h1>
    <%- body %>
  </body>
</html>
